bin
build
out
tmp
dist
.env*
*.log
*.cache
*.tmp
*.bak
*.swp
*.swo
*.DS_Store
.idea/
.vscode/
node_modules/
vendor/
coverage/
*.exe
*.dll
*.so
*.dylib
*.test
*.out
*.prof
*.pprof
*.zip
*.tar.gz
*.tar.bz2
*.tar.xz
*.7z
SPEC.md